<%- include('layout', { title: "Menu Utama", body: '' }) %>

<div class="container text-center mt-5">
  <h2 class="mb-4">Dashboard Backend</h2>
  <p class="text-muted">Silakan pilih menu</p>

  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 mt-3">
    <!-- Users -->
    <div class="col">
      <a href="/users" class="text-decoration-none">
        <div class="card shadow-sm h-100 p-4">
          <img src="https://icon-library.com/images/users-icon-png/users-icon-png-2.png" alt="Users" class="mb-2" style="width:50px;height:50px;">
          <h5>Users</h5>
        </div>
      </a>
    </div>

    <!-- Products -->
    <div class="col">
      <a href="/products" class="text-decoration-none">
        <div class="card shadow-sm h-100 p-4">
          <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Products" class="mb-2" style="width:50px;height:50px;">
          <h5>Products</h5>
        </div>
      </a>
    </div>

    <!-- Stores -->
    <div class="col">
      <a href="/stores" class="text-decoration-none">
        <div class="card shadow-sm h-100 p-4">
          <img src="https://www.kindpng.com/picc/m/235-2350524_store-vector-icon-retail-store-icon-png-transparent.png" alt="Stores" class="mb-2" style="width:50px;height:50px;">
          <h5>Stores</h5>
        </div>
      </a>
    </div>

    <!-- Stock -->
    <div class="col">
      <a href="/stock" class="text-decoration-none">
        <div class="card shadow-sm h-100 p-4">
          <img src="https://cdn-icons-png.flaticon.com/512/1041/1041872.png" alt="Stock" class="mb-2" style="width:50px;height:50px;">
          <h5>Stock</h5>
        </div>
      </a>
    </div>

    <!-- Sales -->
    <div class="col">
      <a href="/sales" class="text-decoration-none">
        <div class="card shadow-sm h-100 p-4">
          <img src="https://cdn-icons-png.flaticon.com/512/1170/1170576.png" alt="Sales" class="mb-2" style="width:50px;height:50px;">
          <h5>Sales</h5>
        </div>
      </a>
    </div>

    <!-- Distribution -->
    <div class="col">
      <a href="/distribution" class="text-decoration-none">
        <div class="card shadow-sm h-100 p-4">
          <img src="https://cdn-icons-png.flaticon.com/512/1995/1995574.png" alt="Distribution" class="mb-2" style="width:50px;height:50px;">
          <h5>Distribution</h5>
        </div>
      </a>
    </div>

  </div>
</div>
